body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  height: 100%;
  position: relative;
}


h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  font-size: 0;
  color: $black-color;
}

a:active, a:hover {
  outline-width: 0;
  transition: all 0.2s ease;
}

input:hover,
textarea:hover,
button:hover,
label:hover::before,
svg:hover {
  transition: all 0.2s ease;
}

picture {
  font-size: 0;
}
