@mixin container {
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media #{$tablet-widths} {
    width: 768px;
  }

  @media #{$desktop-widths} {
    width: 1150px;
  }
}

@mixin font-sans($size: false, $lh: false, $colour: false) {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $lh { line-height: $lh; }
  @if $colour { color: $colour; }
}

@mixin font-sans-bold($size: false, $lh: false, $colour: false) {
  font-family: 'Open Sans Bold', Helvetica, Arial, sans-serif;
  @if $size { font-size: $size; }
  @if $lh { line-height: $lh; }
  @if $colour { color: $colour; }
}
