
//Внутренние переменные
//цвета
$alabaster-color: #f9f9f9;
$black-color: #000000;
$downy-color: #63d1bb;
$fountain-blue-color: #56c3b2;
$gallery-color: #ececec;
$gray-color: #8d8d8d;
$keppel-color: #35a999;
$mine-shaft-color: #221f1f;
$monte-carlo-color: #8dd5c9;
$morning-glory-color: #97e2d2;
$puerto-rico-color: #46c1ae;
$seashell-color: #f1f1f1;
$silver-chalice-color: #b2b2b2;
$silver-color: #cccccc;
$tundora-color: #444444;
$thunder-color: #231f20;
$white-color: #ffffff;
$viking-color: #59d5bc;



//Глобальные переменные

//products
$products-background-color: $alabaster-color;
$prod-interior-background-color: $downy-color;
$prod-toys-background-color: $fountain-blue-color;

//page-header
$pheader-logo: $gallery-color;

//reviews
$reviews-text: $tundora-color;

//contacts
$contacts-table: $tundora-color;
$contacts-email: $downy-color;

//page-footer
$pfooter-background: $seashell-color;



















