
//Внутренние переменные

//цвета
$alabaster-color: #f9f9f9;
$black-color: #000000;
$downy-color: #63d1ba;
$fountain-blue-color: #56c3b2;
$gallery-color: #ececec;
$gray-color: #8d8d8d;
$keppel-color: #35a999;
$mine-shaft-color: #221f1f;
$monte-carlo-color: #8dd5c9;
$morning-glory-color: #97e2d2;
$puerto-rico-color: #46c1ae;
$seashell-color: #f1f1f1;
$silver-chalice-color: #b2b2b2;
$silver-color: #C7C7C7;
$tundora-color: #444444;
$thunder-color: #231f20;
$white-color: #ffffff;
$viking-color: #59d5bc;
$blue-chill: #149080;



//Глобальные переменные

//размер экрана
$mobile-widths: (min-width: 320px);
$tablet-widths: (min-width: 768px);
$desktop-widths: (min-width: 1150px);
$mobile-widths-only: (max-width: 767px);
$retina: (min-resolution: 144dpi), (min-resolution: 1.5dppx);


//Оформление
//menu
$menu-border: $gallery-color;
$menu-background: $white-color;
$menu-color: $black-color;
$menu-icon-fill: $silver-color;

//products
$products-background-color: $alabaster-color;
$prod-interior-background-color: $downy-color;
$prod-toys-background-color: $fountain-blue-color;

//products-view
$prod-view-subtitle-color: $downy-color;
$prod-view-color: $tundora-color;
$prod-view-table: $gallery-color;
$prod-view-background: $seashell-color;

//page-header
$pheader-logo: $gallery-color;
$pheader-background: $alabaster-color;
$pheader-logo-background: $white-color;
$pheader-background-black: $seashell-color;

//reviews
$reviews-text: $tundora-color;
$reviews-btn-background: $white-color;
$reviews-btn-border: $gallery-color;

//contacts
$contacts-table: $tundora-color;
$contacts-email: $downy-color;
$contacts-color-hover: $puerto-rico-color;

//page-footer
$pfooter-background: $seashell-color;

//btn
$btn-color: $tundora-color;
$btn-hover-color: $white-color;
$btn-hover-background: $tundora-color;

//copyright
$copyright-color: $black-color;

//subject
$subject-background: $seashell-color;

//catalog
$catalog-background: $seashell-color;

//catalog-item
$cat-item-border: $gallery-color;
$cat-item-color: $tundora-color;

//process
$process-border: $gallery-color;
$process-background: $seashell-color;
$process-color:$tundora-color;
$process-icon-color: $downy-color;

//order
$order-title-color: $downy-color;
$order-text-bottom: $black-color;
$order-textarea-border: $tundora-color;
$order-background: $seashell-color;
$order-input-out-border: $tundora-color;
$order-input-in-border: $downy-color;
$order-border-hover: $downy-color;
$order-border-active: $tundora-color;

//modal
$modal-background: $white-color;
$modal-btn-color: $downy-color;
