.about {
  @include container;
  display: flex;
  flex-direction:column;
  padding:0 30px;
  margin-bottom: 55px;
}

.about__title {
  @include font-sans-bold(25px,30px);
 }

.about__features {
  @include font-sans-bold(17px 20px);
}

.about__item {
  position: relative;
  padding-top: 83px;
  &--1 {
    background: transparent url("../img/icon-feature-1.svg") no-repeat 8px 6px;
  }
  &--2 {
    background: transparent url("../img/icon-feature-3.svg") no-repeat 0 6px;
  }
  &--3 {
    background: transparent url("../img/icon-feature-5.svg") no-repeat 7px 11px;
  }
  &--4 {
    background: transparent url("../img/icon-feature-2.svg") no-repeat 3px 9px;
  }
  &--5 {
    background: transparent url("../img/icon-feature-4.svg") no-repeat 0 10px;
  }
  &--6 {
    background: transparent url("../img/icon-feature-6.svg") no-repeat 3px 8px;
  }
}

@media #{$tablet-widths} {

  .about__title {
    @include font-sans-bold(43px,50px);
  }

  .about__features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .about__item {
    @include font-sans-bold(20px,24px);
    width: 50%;
  }
}
