.catalog-item {
  display: flex;
  flex-direction:column;
  margin-bottom: 29px;
}

.catalog-item__img {
  width: 260px;
  height: 195px;
  background: $catalog-background;
}

.catalog-item__box {
  display: flex;
  flex-direction: column;
  padding: 27px 28px 24px;
  box-sizing: border-box;
  border: 1px solid $cat-item-border;
}

.catalog-item__title {
  margin-bottom: 5px;
}

.catalog-item__name {
  @include font-sans-bold(17px,24px);

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-item__desc {
  @include font-sans(13px,30px,$cat-item-color);
  padding-bottom: 20px;
  border-bottom: 1px solid $cat-item-border;
}

.catalog-item__price {
  @include font-sans-bold(15px,24px);
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.catalog-item__icon {
  display: none;
}







