.contacts {
  @include container;
  display: flex;
  flex-direction: column;
  //padding-bottom: 200px;
  padding: 35px 0 200px;
}

.contact__btn {
  display: block;
  width: 260px;
  margin: 0 auto;
}

.contacts__wrapper {
  padding: 0 30px;
}

.contacts__title {
  @include font-sans-bold(18px,30px);
  margin-bottom: 25px;
}

.contacts__table {
  display: table;
  @include font-sans(15px,30px,$contacts-table);
  border-collapse: collapse;
  margin-bottom: 37px;
}

.contacts__table ul {
  display: table-row;
}

.contacts__table li {
  display: table-cell;
  &:first-child {
    width: 78px;
    height: 58px;
    text-transform: lowercase;
    padding-bottom: 3px;
  }
}

.contacts__email {
  @include font-sans(15px,30px);
  color: $contacts-table;
  border-bottom: 1px solid $contacts-email;
  padding-bottom: 5px;

  &:hover {
    color: $contacts-color-hover;
    border-bottom-color: $contacts-color-hover;
  }

  &:active {
    opacity: .3;
  }
}

.contact__map {
  overflow: hidden;
  padding: 0;
  height: 457px;
  margin-bottom: 39px;
  position: relative;


  &::after {
    content: '';
    position: absolute;
    width: 67px;
    height: 100px;
    left: 124px;
    top: 166px;
    background-image: url("../img/icon-map-pin.svg");
    z-index: 1;
  }
}

.contact__map--js {
  &::after {
    display: none;
  }
}

@media #{$mobile-widths-only} {
  .contact__map {
    background: url("../img/map-mobile@1x.jpg") no-repeat center;
    width: 320px;
    height: 457px;

    @media #{$retina} {
      background: url("../img/map-mobile@2x.jpg") no-repeat center;
      background-size: 320px;
    }
  }
}


@media #{$tablet-widths} {
  .contacts {
    padding-top: 62px;
    background: url("../img/icon-flag.svg") no-repeat right 53px top 46px;
  }

  .contacts__wrapper {
    padding: 0 50px;
    margin-bottom: 48px;
  }

  .contacts__title {
    @include font-sans-bold(43px,50px);
    margin-bottom: 48px;
    margin-left: -5px;
  }

  .contacts__table {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    @include font-sans(17px,30px);
    margin-bottom: 8px;
  }

  .contacts__table li,
  .contacts__table a {
    @include font-sans(17px,30px);
  }

  .contacts__table li {

    &:first-child {
      width: 78px;
    }

    &:last-child {
      width: 260px;
    }
  }

  .contact__map {
    margin-bottom: 55px;
    width: 768px;
    height: 457px;
    background: url("../img/map-tablet@1x.jpg") no-repeat center;

    @media #{$retina} {
      background: url("../img/map-tablet@2x.jpg") no-repeat center;
      background-size: 768px;
    }

    &::after {
      left: 348px;
    }
  }

  .contact__btn {
    width: 230px;
    margin: 0 auto;
  }

  .contacts__email {
    padding-bottom: 3px;
  }
}


@media #{$desktop-widths} {
  .contacts {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 50px 140px 220px;
    justify-content: flex-end;
    margin-top: 71px;
    margin-bottom: 0;
    background-position: left 113px top 60px;
  }

  .contacts__wrapper {
    order: 1;
    padding: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 70px 50px 0 0;
    width: 300px;
  }

  .contacts__table li:last-child {
    width: 223px;
  }

  .contact__btn {
    order: 3;
    position: relative;
    margin-left: 5px;
    bottom: 108px;
  }

  .contact__map {
    order: 2;
    width: 525px;
    height: 457px;
    position: relative;
    width: 525px;
    height: 457px;
    //margin-bottom: 0;
    background: url("../img/map-desktop@1x.jpg") no-repeat center;

    @media #{$retina} {
      background: url("../img/map-desktop@2x.jpg") no-repeat center;
      background-size: 525px;
    }
  }

  .contacts__table {
    flex-direction: column;
  }

  .contacts__title {
    @include font-sans-bold(53px,57px);
  }

  .contact__map {

    &::after {
      left: 237px;
    }
  }
}
