.menu,
.menu__search {
  @include container;
  z-index: 50;
  display: flex;
  flex-direction: column;
}

.menu__sale {
  display: none;
}

.menu__item {
  border-bottom: 1px solid $menu-border;
  background: $menu-background;

  &--search {
    position: relative;
  }

  &--basket {
    position: relative;
  }
}

.menu__link {
  display: block;
  @include font-sans-bold(17px,24px,$menu-color);
  padding: 27px 65px;
}

.menu__button {
  font-size: 0;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 14px;
  cursor: pointer;
  border: none;
  background: none;
  background-image: url(/img/icon-menu-open.svg);
  outline: none;

  &--close {
    width: 21px;
    height: 20px;
    background-image: url(/img/icon-menu-close.svg);
  }
}

.menu__text {
  display: none;
}

.menu__search-icon {
  position: absolute;
  left: 32px;
  top: 30px;
  width: 18px;
  height: 18px;
  fill: $menu-icon-fill;
}

.menu__basket-icon {
  position: absolute;
  left: 32px;
  top: 30px;
  width: 18px;
  height: 18px;
  fill: $menu-icon-fill;
}


@media #{$mobile-widths-only} {
  .menu{
    &--js {
      display: none;
    }
  }

  .menu__search {
    &--js {
      display: none;
    }
  }
}


@media #{$tablet-widths} {
  .menu{
    padding-left: 50px;
  }

  .menu,
  .menu__search {
    display: flex;
    align-content: center;
    position: relative;
    order: 3;
    margin: 0;
    width: auto;
  }

  .menu .menu__items,
  .menu__search .menu__items {
    position: relative;
    margin: 0;
  }

  .menu__button {
    display: none;
  }

  .menu__search {
    margin: 0;
    order: 2;
    width: auto;
  }

  .menu__text {
    display: block;
    order: 4;
    width: 334px;
    padding: 16px 50px 20px 0;
    text-align: right;
    @include font-sans(15px,24px);
    order: 5;
  }

  .menu__items {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }

  .menu__item {
    width: 167px;
    border-bottom: none;
    display: flex;
    align-items: center;
    background-color: transparent;

    &--search {
      width: 82px;
      text-align: center;
      justify-content: center;
      background-color: $menu-background;
      border: 1px solid $menu-border;
      border-top: none;
    }

    &--basket {
      width: 264px;
      padding-right: 50px;
      justify-content: flex-end;
      background-color: $menu-background;
      border-bottom: 1px solid $menu-border;
    }
  }

  .menu__item--search .menu__link {
    font-size: 0;
  }

  .menu__link {
    align-items: center;
  }

  .menu .menu__link,
  .menu__sale .menu__link {
    padding: 18px 0 18px;
    @include font-sans-bold(15px,24px);
  }

  .menu__search .menu__link {
    padding: 30px 0 33px;
    width: 100%;
    text-align: end;
  }

  .menu__search-icon {
    top: 36px;
    left: 34px;
  }

  .menu__basket-icon {
    top: 34px;
    left: 32px;
  }
}

@media #{$desktop-widths} {
  .menu {
    order: 1;
    background-color: $menu-background;
    border-bottom: 1px solid $menu-border;
    padding: 0;
  }

  .menu__search {
    order: 3;
  }

  .menu__sale {
    display: block;
    order: 4;
  }

  .menu .menu__link,
  .menu__search .menu__link {
    @include font-sans-bold(17px,24px);
    padding: 30px 0 33px 34px;
    width: 100%;
  }

  .menu__search .menu__link {
    padding-left: 84px;
  }

  .menu__sale .menu__link {
    padding: 16px 0 18px 36px;
    width: 100%;
  }

  .menu__item--cat .menu__link,
  .menu__item--new .menu__link {
    padding-left: 50px;
  }

  .menu__item--search .menu__link {
    font-size: 0;
  }

  .menu__item {
    &--cat {
      width: 234px;
    }

    &--order {
      width: 235px;
      border-left: 1px solid $menu-border;
    }

    &--new {
      width: 235px;
    }

    &--sale {
      width: 235px;
    }

    &--search {
      width: 82px;
    }

    &--basket {
      width: 266px;
    }
  }
}
