.page-footer {
  @include container;
  display: flex;
  flex-direction: column;
  background-color: $pfooter-background;
}


@media #{$tablet-widths} {
  .page-footer {
    flex-direction: row;
  }

}
