.page-content {
  flex: 1 0 auto;
  margin-bottom: 40px;

  &--catalog {
    margin-bottom: 58px;
  }

  &--form {
    margin-bottom: 54px;
  }

  @media #{$tablet-widths} {
    margin-bottom: 57px;

    &--catalog {
      margin-bottom: 62px;
    }

    &--form {
      margin-bottom: 50px;
    }
  }

  @media #{$desktop-widths} {
    margin-bottom: 104px;

    &--form {
      margin-bottom: 50px;
    }
  }
}
