.page-header__wrapper {
  @include container;
  display: flex;
  flex-direction: column;
  background-color: $pheader-background;

  &--black {
    background-color: $pheader-background-black;
  }
}

.page-header__logo {
  position: relative;
  display: flex;
  align-items:center;
  justify-content: center;
  min-height: 79px;
  border-bottom: 1px solid $pheader-logo;
  background-color: $pheader-logo-background;
}



@media #{$mobile-widths-only} {
  .page-header {
    min-height: 80px;
  }

  .page-header__wrapper {
    &--js {
      position: absolute;
      left: 50%;
      margin-left: -160px;
    }
  }
}

@media #{$tablet-widths} {
  .page-header {
    background: linear-gradient(to bottom,#fff 87px,#ececec 87px,#ececec 88px,#f9f9f9 88px,#f9f9f9);

    &--black {
      background: linear-gradient(to bottom,#fff 87px,#ececec 87px,#ececec 88px,#f1f1f1 88px,#f1f1f1);
    }
  }

  .page-header__wrapper {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .page-header__logo {
    width: 320px;
    justify-content: flex-start;
    padding-left: 50px;
    min-height: 87px;
    order: 1;
  }
}

@media #{$desktop-widths} {
  .page-header__logo {
    order: 2;
    width: 230px;
    text-align: center;
    padding-left: 30px;
    flex-grow: 1;
  }
}
