.products-view {
  @include container;
  display: flex;
  flex-direction: column;
  padding: 27px 30px 42px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../img/bg-zigzag-line.svg");
    width: 100%;
    height: 6px;
    background-size: contain;

  }
}

.products-view__header {
  display: flex;
  flex-direction: column;
}

.products-view__title {
  @include font-sans-bold(25px,30px);
  margin-bottom: 7px;
}

.products-view__subtitle {
  @include font-sans-bold(17px,16px,$prod-view-subtitle-color);
  text-transform: uppercase;
  margin-bottom: 24px;
}

.products-view__preview {
  @include font-sans(15px,24px,$prod-view-color);
  margin-bottom: 19px;
}

.products-view__table {
  display: table;
  border-collapse: collapse;
  margin-bottom: 28px;
}

.products-view__table ul {
  display: table-row;
  border-bottom: 1px solid $prod-view-table;
}

.products-view__table li {
  display: table-cell;
  padding: 10px 0 11px;
  &:first-child {
    width: 96px;
  }
}

.products-view__picture {
  margin-bottom: 20px;
}

.product-view__cost {
  @include font-sans-bold(17px,24px,$prod-view-color);
  text-align: center;
  margin-bottom: 26px;
}

@media #{$tablet-widths} {
  .products-view {
    padding: 33px 50px 42px;

    &::after {
      height: 15px;
    }
  }

  .products-view__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .products-view__picture {
    margin-top: 8px;
    margin-bottom: 23px;
  }

  .products-view__table li {
    @include font-sans(15px,20px,$prod-view-color);
    padding: 8px 0 11px;
  }

  .products-view__title {
    @include font-sans-bold(43px,50px);
    margin-bottom: 10px;
    margin-left: -5px;
  }

  .products-view__subtitle {
    width: 85px;
    margin: 0 20px;
    text-align: center;
  }

  .products-view__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
  }
  .products-view__content-wrap {
    display: flex;
    flex-direction: column;
    width: 292px;
  }

  .products-view__preview {
    @include font-sans(17px, 30px);
    margin-bottom: 36px;
  }

  .products-view__table {
    width: 100%;
  }

  .products-view__img {
    width: 334px;
    height: 404px;
  }

  .product-view__footer {
    position: absolute;
    bottom: 26px;
  }

  .product-view__cost {
    @include font-sans-bold(20px,24px);
    margin-bottom: 34px;
  }

  .product-view__btn {
    width: 290px;
  }
}



@media #{$desktop-widths} {

  .products-view {
    padding: 0 50px 5px;

    &::after {
      height: 23px;
    }
  }

  .products-view__header {
    justify-content: flex-start;
    position: relative;
    top: 105px;
    z-index: 5;
  }

  .products-view__title {
    @include font-sans-bold(53px,57px);
    margin-left: 46px;
  }

  .products-view__subtitle {
    order: -1;
    margin: 0;
    margin-left: 40px;
  }

  .products-view__img {
    width: 525px;
    height: 636px;
    background-color: $prod-view-background;
  }

  .products-view__content {
    top: -64px;
  }

  .products-view__content-wrap {
    margin-top: 168px;
    margin-left: 175px;
  }

  .products-view__preview {
    margin-bottom: 50px;
  }

  .product-view__footer {
    left: 178px;
  }

  .product-view__cost {
    margin-bottom: 34px;
  }

  .products-view__table li:first-child {
    width: 98px;
  }

  .products-view__picture {
    margin-top: 12px;
    margin-bottom: 22px;
  }
}
