.subject {
  margin-bottom: 22px;
}

.subject__wrapper {
  @include container;
  background-color: $subject-background;
  padding: 70px 0 76px;
}

.subject__title {
  @include font-sans-bold(27px,30px);
  text-align: center;
}


@media #{$tablet-widths} {
  .subject__title {
    @include font-sans-bold(43px,50px);
  }

  .subject__wrapper {
    padding: 34px 0 68px;
  }
}


@media #{$desktop-widths} {
  .subject {
    background-color: $subject-background;
    min-height: 174px;
  }

  .subject__title {
    @include font-sans-bold(53px,57px);

  }
}
